
<div class="wrapper">
  <div class="col-sm-6">
    <div class="form-group">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient, collection: @ingredients_list %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
